*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}
a{
	text-decoration: none;
	color:#C71E1E;
}
a:hover{
	color:#9A0B0B;
}

body{
	/* background-image: url('../img/bg.jpg'); */
	background-color: #E5E5E5;
	background-size:strech;
	background-repeat: no-repeat;
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}
.wrapper {
  float: left;
  width: calc(100% - 320px);
  height: 100vh;
  position: relative;
  transition: all .5s;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.wrapper_winner {
  overflow-y:auto;
  float:left;
	margin:0 auto;
  width: 320px;
  height:100vh;
  padding:20px;
  background:url('../img/bg-side.png') bottom no-repeat #eee;
}
.wrapper_winner h2,.wrapper_winner h3{

  margin:10px auto;
}
.wrapper_winner ol, .wrapper_winner ul {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom:10px;
}
.container_main{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  width:100%;
}

.container_random{
	margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  width:100%;
  text-align:center;
}
@font-face{
  font-family:'neuropol';
  src: url('../font/neuropol.ttf');
}

#random_text{
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 50pt;
  height: auto;
  min-height: 90px;
  background: rgba(0, 0, 0, 0.77);
  border-image: linear-gradient(to left, rgba(255, 255, 255, 0.14) 1%, rgb(255, 168, 16) 50%, rgba(255, 255, 255, 0.21) 100%) 100% 0 100% 0/1.5px 0 1.5px 0 stretch;
  border-style: solid;
  border-width: 1px 0 1px 0;
  transition: all .4s;
  color: #FFF;
}
.jsl {
  line-height: 100px;
  font-size: .7em;
}
.btn-start{
	text-align: center;
	margin-top:10px;
	height:100px;
	width: 100px; 
border:1px solid #e80000;-webkit-box-shadow: #B5B5B5 2px 2px 2px  ;-moz-box-shadow: #B5B5B5 2px 2px 2px ; box-shadow: #B5B5B5 2px 2px 2px  ; -webkit-border-radius: 50px; -moz-border-radius: 50px;border-radius: 50px;font-size:22px; padding: 5px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #FF2121; background-image: -webkit-gradient(linear, left top, left bottom, from(#FF2121), to(#A10E0E));
 background-image: -webkit-linear-gradient(top, #FF2121, #A10E0E);
 background-image: -moz-linear-gradient(top, #FF2121, #A10E0E);
 background-image: -ms-linear-gradient(top, #FF2121, #A10E0E);
 background-image: -o-linear-gradient(top, #FF2121, #A10E0E);
 background-image: linear-gradient(to bottom, #FF2121, #A10E0E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF2121, endColorstr=#A10E0E);
}

.btn-start:hover,.btn-start:focus{
	outline:0;
	cursor: pointer;
 border:1px solid #ba0000;
 background-color: #FF0D0D; background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0D0D), to(#FF4545));
 background-image: -webkit-linear-gradient(top, #FF0D0D, #FF4545);
 background-image: -moz-linear-gradient(top, #FF0D0D, #FF4545);
 background-image: -ms-linear-gradient(top, #FF0D0D, #FF4545);
 background-image: -o-linear-gradient(top, #FF0D0D, #FF4545);
 background-image: linear-gradient(to bottom, #FF0D0D, #FF4545);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF0D0D, endColorstr=#FF4545);
}

.small_addtional{
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 40%;
  color: #f8a41e;
  margin-bottom: 5px;
  text-shadow: 0px -1px 4px #350c00;
  text-transform: capitalize;
}
button.delete {
  width: 16px;
  height: 16px;
  line-height: 12px;
  font-size: 12px;
  padding: 0px 2px 1px 2px;
  border-radius: 99px;
  background: #be1f24;
  color: #ffffff;
  border: 1px solid #ff0000;
  float:right;
  transition:all .5s;
}
button.delete:hover {
  cursor: pointer;
  background: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;

}
ol li {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,dddddd+100&0+0,1+100 */
background: -moz-linear-gradient(45deg, rgba(125,185,232,0) 0%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(125,185,232,0) 0%,rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(125,185,232,0) 0%,rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding:4px;
border-bottom:solid 2px #EEEEEE;
border-radius: 0 10px 0;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid #e71c1c;
    color: #000; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 4px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 2%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
.fullscreen_toggle{
  padding:0;
  margin:0;
  position: absolute;
  right:10px;
  top:10px;
  background:transparent;
  border:1px solid #ccc;
  padding:2px;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.aniScale {
  animation: aniScale 3s infinite;
}
@keyframes aniScale {
	0% {transform: scale(.9)  }
	50% { transform: scale(1) }
  100% { transform: scale(.9) }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.88);
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  /* Modifiers */
  /* States */
}
.modal__dialog {
  position: relative;
  width: 50%;
  padding: 40px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  color: #ccc;
  background-color: transparent;
  background-image: none;
}
.modal__close:focus {
  outline: 0;
}
.modal__header {
  border-bottom: 1px solid #e2e2e2;
}
.modal__title {
  margin: 0 0 15px;
}
.modal__content {
  padding: 10px 0;
  font-size: 22px;
  line-height: 1.6;
  color: #555;
}
.modal__footer {
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
  text-align: right;
}
.modal--fullscreen {
  padding: 5px;
}
.modal--fullscreen .modal__dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  border-radius: 0;
}
.modal.is-modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__content ul,.modal__content ol {
	margin:0;
	margin-left:10px;
}
.modal__content li {
	font-weight: bold;

}
.modal__content li span {
	font-weight: normal;
	display: block;
	color:#888;
	font-size: 17px;
}
.back_main {
  display: none;
	cursor: pointer;
	outline: 0;
	position:fixed;
	bottom: 20px;
	left: 20px;
	border:1px solid #df0909; -webkit-border-radius: 50px; -moz-border-radius: 50px;border-radius: 50px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}

.btn_list_winner {
	cursor: pointer;
	outline: 0;
	position:fixed;
	bottom: 20px;
	right: 20px;
	border:1px solid #df0909; -webkit-border-radius: 50px; -moz-border-radius: 50px;border-radius: 50px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
  display: none;
}
.btn_list_winner:hover{
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
 background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
 background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}
button:focus {
  outline: 0;
}
.prize {
  margin:20px auto;
  float:left;
  width:50%;
  text-align:center;
}
.prize img {
  margin-left: auto;
    margin-right: auto;
  display:block;
  width:80%;
  opacity:.9;
  transition:all .3s;
}
.prize img:hover{
  opacity:1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.prize button {
  background:transparent;
  cursor:pointer;
  border:0;
}

.btn_add_prize,.btn_remove_prize {
  height: 23px;
  background-color: #6fd1bd;
  border: 1px solid #999;
  color: #fff;
  margin-left: 4px;
}

.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white; }
  .button:hover, .button:focus {
    background-color: #2284a1; }
  .button:hover, .button:focus {
    color: white; }
  .button.secondary {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #333333; }
    .button.secondary:hover, .button.secondary:focus {
      background-color: #d0d0d0; }
    .button.secondary:hover, .button.secondary:focus {
      color: #333333; }
  .button.success {
    background-color: #5da423;
    border-color: #457a1a;
    color: white; }
    .button.success:hover, .button.success:focus {
      background-color: #457a1a; }
    .button.success:hover, .button.success:focus {
      color: white; }
  .button.alert {
    background-color: #c60f13;
    border-color: #970b0e;
    color: white; }
    .button.alert:hover, .button.alert:focus {
      background-color: #970b0e; }
    .button.alert:hover, .button.alert:focus {
      color: white; }
  .button.large {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1.0625em;
    padding-left: 2em;
    font-size: 1.25em; }
  .button.small {
    padding-top: 0.5625em;
    padding-right: 1.125em;
    padding-bottom: 0.625em;
    padding-left: 1.125em;
    font-size: 0.8125em; }
  .button.tiny {
    padding-top: 0.4375em;
    padding-right: 0.875em;
    padding-bottom: 0.5em;
    padding-left: 0.875em;
    font-size: 0.6875em; }
  .button.expand {
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    font-size: 1em;
    padding-top: 0.75em;
    padding-right: 0px;
    padding-bottom: 0.8125em;
    padding-left: 0px;
    width: 100%; }
  .button.left-align {
    text-align: left;
    text-indent: 0.75em; }
  .button.right-align {
    text-align: right;
    padding-right: 0.75em; }
  .button.disabled, .button[disabled] {
    background-color: #2ba6cb;
    border-color: #2284a1;
    color: white;
    cursor: default;
    opacity: 0.6;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #2284a1; }
    .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      color: white; }
    .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #2ba6cb; }
    .button.disabled.secondary, .button[disabled].secondary {
      background-color: #e9e9e9;
      border-color: #d0d0d0;
      color: #333333;
      cursor: default;
      opacity: 0.6;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #d0d0d0; }
      .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        color: #333333; }
      .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #e9e9e9; }
    .button.disabled.success, .button[disabled].success {
      background-color: #5da423;
      border-color: #457a1a;
      color: white;
      cursor: default;
      opacity: 0.6;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #457a1a; }
      .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        color: white; }
      .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #5da423; }
    .button.disabled.alert, .button[disabled].alert {
      background-color: #c60f13;
      border-color: #970b0e;
      color: white;
      cursor: default;
      opacity: 0.6;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #970b0e; }
      .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        color: white; }
      .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #c60f13; }

input.button,
button.button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em; }
  input.button.tiny,
  button.button.tiny {
    padding-top: 0.5em;
    padding-bottom: 0.4375em; }
  input.button.small,
  button.button.small {
    padding-top: 0.625em;
    padding-bottom: 0.5625em; }
  input.button.large,
  button.button.large {
    padding-top: 1.03125em;
    padding-bottom: 1.03125em; }

@media only screen {
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
    .button:active {
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
    .button.radius {
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .button.round {
      -webkit-border-radius: 1000px;
      border-radius: 1000px; } }
@media only screen and (min-width: 48em) {
  .button {
    display: inline-block; } }